<html>
<head>
	<title>Squares</title>
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body>
	<div>
		<b>SUPER BOWL 2018 - SQUARES</b>
	</div>
	<div>
		<table>
			<tr>
				{% for d in range(11) %}
					<td>
						{% if d != 0 %}
							<b>Patriots</b>
							{% if numbers %}
								<br>
								<span style="font-size: 16pt">
									<b style="color: red">{{ numbers["patriots"]['q1'][d-1] }}</b>
									<b style="color: blue">{{ numbers["patriots"]['q2'][d-1] }}</b>
									<b style="color: green">{{ numbers["patriots"]['q3'][d-1] }}</b>
									<b style="color: orange">{{ numbers["patriots"]['q4'][d-1] }}</b>
								</span>
							{% endif %}
						{% endif %}
					</td>
				{% endfor %}
			</tr>
			{% for r in range(10) %}
				<tr>
					{% for d in range(11) %}
						{% if index_a == [r, d-1] or index_b == [r, d-1] %}
							{% set cell_color = "blue" %}
						{% else%}
							{% set cell_color = "white" %}
						{% endif %}
						<td class="cell" style="background-color: {{ cell_color }}">
							{%if d == 0 %}
								<b>Eagles</b>
								{% if numbers %}
									<br>
									<span style="font-size:16pt;">
										<b style="color: red">{{ numbers["eagles"]['q1'][r] }}</b>
										<b style="color: blue">{{ numbers["eagles"]['q2'][r] }}</b>
										<b style="color: green">{{ numbers["eagles"]['q3'][r] }}</b>
										<b style="color: orange">{{ numbers["eagles"]['q4'][r] }}</b>
									</span>
								{% endif %}
							{% else %}
								{% set rs = r | string %}
								{% set di = d-1 %}
								{% set ds = di | string %}
								{% set sq = rs + ds %}
								{% if squares.get(sq) %}
									{{ squares.get(sq) }}
								{% endif %}
								<span class="cellindex">{{ r }}{{ d-1 }}</span>
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
		<br>
		<div>
			{% if action == "input" %}
				<form class=form action="/squares_swap" method="post">
					{{ swap_form.csrf_token }}
					<p>
					<label>Square A: </label>
					{{ swap_form.square_a }}
					{% if swap_form.square_a.errors %}
						<span style="color: red;">{{ swap_form.square_a.errors }}</span>
					{% endif %}
					</p>
					<p>
					<label>Square B: </label>
					{{ swap_form.square_b }}
					{% if swap_form.square_b.errors %}
						<span style="color: red;">{{ swap_form.square_b.errors }}</span>
					{% endif %}
					</p>
					<input type="submit" name="submit" value="swap">
				</form>
			{% endif %}
			{% if action == "confirm" %}
				<form class=form action="/squares_swap" method="post">
					{{ swap_confirm_form.square_a }}
					{{ swap_confirm_form.square_b }}
					<input type="submit" name="submit" value="confirm">
				</form>
			{% endif %}
		</div>
	</div>
</body>
</html>
